.Navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(252, 254, 255);
  border-bottom: 2px solid #dadada;
  padding: 0 3vw;
}

.Logo {
  font-size: 2.5vw;
  font-weight: 600;
  color: #b5afa1;
}
